.accountWrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  transition: 0.5s;
}

.account_header{
  background-color: #005a8f;
  font-size: max(4vh, 40px);
  text-align: center;
  padding-left: 2vh;
  padding-bottom: 1vh;
}


.account {
  display: flex;
  flex-direction: column;
  border: 10px solid #005a8f;
  border-radius: 20px;
  color: #cbdee9;
  width: 60vw;
  min-width: 600px;
  height: 70vh;
  min-height: 400px;
  transition: 0.5s;
}

.office-create {
  display: flex;
  flex-direction: column;
  border: 10px solid #005a8f;
  border-radius: 20px;
  color: #cbdee9;
  width: 50vw;
  min-width: 500px;
  height: 30vh;
  min-height: 200px;
  transition: 0.5s;
  margin-bottom: 2vh;
}

.infoWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;

}

.labels{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  height: 100%;
  font-size: max(3vh, 30px);
}

.values{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  height: 100%;
  font-size: max(3vh, 30px);
  width: 40%;
}

.save{
  margin: 0;
}

.info{
  margin:0;
}

.sign-up {
  height: 70vh;
}


.account-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  margin-left: 2vh;
  font-size: 4vh;
  margin-top: 4vh;
}

