.loginWrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  margin-top: 5vh;
}

.login_header{
  background-color: #005a8f;
  font-size: max(5vh, 50px);
  text-align: left;
  padding-left: 2vh;
  padding-bottom: 1vh;
}


.login{
  display: flex;
  flex-direction: column;
  border: 10px solid #005a8f;
  border-radius: 20px;
  color: #cbdee9;
  width: 25vw;
  min-width: 400px;
  height: 60vh;
  min-height: 580px;
}

.sign-up {
  height: max(70vh, 900px);
}


.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-left: 2vh;
  font-size: max(3vh, 30px);
  margin-top: 4vh;
}


.create-account {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-size: max(2vh, 20px);
}

a {
  color: #005a8f;
}

a:hover {
  color: orange;
}
